div.cardWrap {
    justify-items: center;
    align-items: center;
    display: grid;
  
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    min-height: calc(100vh - var(--nav-height) - 4rem);
  }
  
  div.card {
    height: max-content;
    background: var(--accent);
    margin: auto;
    
    position: relative;
    display: grid;
  
    border-radius: 1rem;
  
    transition: transform 0.5s;
  
    box-shadow: 0.5rem 0.5rem 1rem #0004;
  
    width: min(30rem, calc( 100vw - 3rem ));
  }
  
  div.card div.content {
    width: 90%;
    min-height: 5rem;
    background-color: var(--secondary);
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 0.5rem
  }
  
  div.card.flip {
    transform: scaleX(0);
  }
  
  .flipbtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: xx-large;
  
    color: var(--primary);
  
    cursor: pointer;
  }
  
  .title {
    text-align: center;
    font-weight: 700;
  
    background: var(--secondary);
    width: max-content;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
  
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  div.card div.side {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  
  div.card.side1 div.side2 {
    opacity: 0;
    pointer-events: none;
  }
  
  div.card.side2 div.side1 {
    opacity: 0;
    pointer-events: none;
  }