nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

nav ul li {
  display: inline-block;
  text-align: center;
  width: 100%;
}

nav ul li a {
  background: var(--primary);
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  font-weight: 900;
  font-size: large;
}

nav ul li a[href="#"] {
  text-decoration: line-through;
  text-decoration-color: #0005;
}

nav ul li a.selected {
  background: var(--background);
}

a.hamburger, a.hamburgerClose {
  display: none;
}

@media screen and (max-width: 500px) {
  a.hamburger {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background: var(--primary);
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 3rem;
    z-index: 1;
  }

  a.hamburgerClose {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: #000a;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.1s;
  }

  #nav:target ~ a.hamburgerClose {
    opacity: 1;
    pointer-events: all;
  }

  nav {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-75vw);
    transition: transform 0.1s, opacity 0.1s;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 75vw;
    height: 100vh;
    background: var(--background);
  }

  nav#nav:target {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0px);
  }

  nav ul {
    display: block;
  }

  nav ul li {
    display: block;
    text-align: center;
    width: 100%;
  }
}