div.reviewHeader {
  display: grid;
  grid-template-columns: 3rem 0.3rem 1fr;
  grid-template-rows: 1fr 1fr;

  align-items: center;
}

div.reviewHeader img {
  width: 3rem;
  height: 3rem;
  background: var(--primary);
  border-radius: 100%;
  grid-area: 1 / 1 / 3 / 2;
}

div.reviewHeader span.name {
  grid-area: 1 / 3 / 2 / 4;
  font-weight: 700;
}

div.reviewHeader span.rating {
  grid-area: 2 / 3 / 3 / 3;
}