@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/400.css";
@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/600.css";
@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/700.css";

:root {
	--secondary: #c8e6c9;
	--primary: #81c784;
	--background: #e8f5e9;
	--accent: #2e7d32;

	--nav-height: 3rem;
}

.card {
	max-width: 40rem !important;
	margin-left: auto;
	margin-right: auto;
}
