@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/400.css";
@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/600.css";
@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/700.css";

* {
  font-family: 'Cairo', sans-serif;
}

:root {
  --secondary: #C8E6C9;
  --primary: #81C784;
  --background: #E8F5E9;
  --accent: #2E7D32;
}

a {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #aaa
}

html {
  background: var(--background);
}