@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/400.css";
@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/600.css";
@import "https://cdn.jsdelivr.net/npm/@fontsource/cairo@4/700.css";

* {
  font-family: 'Cairo', sans-serif;
}

:root {
  --bg: #fff;
  --fg: #ddd;
}

a {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #aaa
}